body{
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background-color: black;
  max-width: 100%;
  height: 70px;
  align-items: center;
}
.Logo{
  height: 3em;
  width: 3em;
  margin-left: 3em;
}

.Home {
  color: antiquewhite;
  margin-left: 3em;
}
.Albums{
  color: antiquewhite;
  margin-left: 3em;
}

.showAlbum{
  display: flex;
  flex-direction: column;
}

.addAlbums{
  margin: auto;
  width: 700px;
}
.showAlbums{
  margin: auto;
  width: 700px;
}